---
permalink: /contact
layout: page
external_id: contact
class_name: contact-page
---

<!-- Assign Variables -->

<!-- Rendered content -->
{% include contact_modal.html %}

<div class="page-section row">
	<div class="col col-12 col-md-8 offset-md-2">
		<h1>Contact</h1>
		<p>Alexa is currently available for small-business and personal custom software commissions.</p>
		<p>Reach out for custom software builds. Or: Reach out if you're an entrepreneur or developer a cool project in mind, and you want to share collaborative thoughts.</p>
		<a href="/resume">View Resume</a>
	</div>
</div>

{% include contact_form.html %}
