---
permalink: /products
layout: page
external_id: products
class_name: products-page
---

<!-- Assign Variables -->

<!-- Rendered content -->
{% include contact_modal.html %}

{% include masthead.html
    pretext="Featured Products"
    title="by Popular Demand"
%}

<style>
    .masthead {
        margin-bottom: 30px;
    }
</style>

<div class="page-section" id="alexbrady">
    <div class="container">
        <div class="row">
            <div class="col col-md-6 description-col mb-4">
                <h2 class="section-heading">alexbrady.org</h2>
                <p>The mission of Alexbrady Organization is the Enlightening of Humanity. Alexbrady.org provides high-quality spirtual content, guides, and community.</p>

                <table class="service-table text-center table mb-4">
                    <tr>
                        <td>Resources</td>
                        <td>Support</td>
                    </tr>
                    <tr>
                        <td>Spiritual Awakening</td>
                        <td>A Course in Miracles</td>
                    </tr>
                </table>
                <!-- <p>alexbrady organization is voiced by social media personality, iamalexbrady. Follow <a href="https://alexbrady.org" target="_blank">@iamalexbrady</a> on social media!</p> -->
            </div>
            <div class="col col-md-4 offset-md-1 text-center">
                <img src="/assets/img/abo.png" alt="alexbrady.org" class="mb-4 w-75">
                <a href="https://alexbrady.org" class="btn btn-block section-cta mb-2" target="_blank">alexbrady.org ⇗</a>
                <!-- <a href="https://iamalexbrady.com" class="btn btn-block section-cta secondary-btn" target="_blank">⇖ iamalexbrady.com</a> -->
            </div>
        </div>
    </div>
</div>

<div class="page-section" id="lovespresents" style="">
    <div class="container">
        <div class="row">
            <div class="col col-md-6 description-col mb-4">
                <h2 class="section-heading">LovesPresents.com</h2>
                <p class="text-large">Keep Love Around with our exclusive designs and accessories, made by Love.</p>
                <p class="">LovesPresents.com is an e-commerce gift shop built on the Shopify platform. Get your gifts of love today!</p>
            </div>
            <div class="col col-md-4 offset-md-1 text-center">
                <img src="/assets/img/two_loves_presents_icon_content.png" alt="two loves presents" class="mb-4 w-50">
                <br>
                <a href="https://lovespresents.com" class="btn btn-block section-cta" target="_blank">LovesPresents.com ⇗</a>
            </div>
        </div>
    </div>
</div>

<div class="page-section" id="iamalexbrady">
    <div class="container">
        <div class="row">
            <div class="col col-md-6 description-col mb-4">
                <h2 class="section-heading">iamalexbrady</h2>
                <p>The Voice of Alexbrady</p>
                <p>The Awakened One Live on Social Media #acim</p>

                <table class="service-table text-center table mb-4">
                    <tr>
                        <td><a href="https://www.youtube.com/channel/UCrLx5DQV2vqAK-eSWYq9s7w">Youtube</a></td>
                        <td><a href="https://twitter.com/iamalexbrady">Twitter</a></td>
                    </tr>
                    <tr>
                        <td><a href="https://reddit.com/u/iamalexbrady">Reddit</a></td>
                        <td><a href="https://instagram.com/iamalexbrady">Instagram</a></td>
                    </tr>
                </table>
            </div>
            <div class="col col-md-4 offset-md-1 text-center">
                <img src="/assets/img/eyes_5.png" alt="wholly spirit flat cap" class="mb-4 w-75">
                <a href="https://iamalexbrady.com" class="btn btn-block section-cta mb-2" target="_blank">iamalexbrady.com ⇗</a>
                <!-- <a href="https://iamalexbrady.com" class="btn btn-block section-cta secondary-btn" target="_blank">⇖ iamalexbrady.com</a> -->
            </div>
        </div>
    </div>
</div>

<div class="page-section" id="philosophy-club">
    <div class="container">
        <div class="row">
            <div class="col col-md-6 description-col mb-4">
                <h2 class="section-heading">Philosophy-Club</h2>
                <p>Philosophy-Club. The clandestine organization destined to Save the World. Sustaining membership: $10.00</p>
                <p><sup>Philosophy-C1ub is not a cult 💀</sup></p>
            </div>
            <div class="col col-md-4 offset-md-1 text-center">
                <img src="/assets/img/philosophy.png" alt="philosophy-club 42" class="mb-4 w-75">
                <a href="https://philosophy-club.mn.co" class="btn btn-block section-cta mb-2" target="_blank">Philosophy-C1ub ⇗</a>
                <!-- <a href="https://iamalexbrady.com" class="btn btn-block section-cta secondary-btn" target="_blank">⇖ iamalexbrady.com</a> -->
            </div>
        </div>
    </div>
</div>