---
permalink: /products
layout: page
external_id: products
class_name: products-page
---

<!-- Assign Variables -->

<!-- Rendered content -->
{% include contact_modal.html %}

{% include masthead.html
    pretext="Featured Products"
    title="by Popular Demand"
%}

<style>
    .masthead {
        margin-bottom: 30px;
    }
</style>

<div class="page-section" id="alexbrady">
    <div class="container">
        <div class="row">
            <div class="col col-md-6 description-col mb-4">
                <h2 class="section-heading">alexbrady</h2>
                <p>alexbrady provides high-quality spirtual content centered around the teachings of <i>A Course in Miracles.</i></p>

                <table class="service-table text-center table mb-4">
                    <tr>
                        <td>Resources</td>
                        <td>Support</td>
                    </tr>
                    <tr>
                        <td colspan="2">A Course in Miracles</td>
                    </tr>
                </table>
                <!-- <p>alexbrady organization is voiced by social media personality, iamalexbrady. Follow <a href="https://alexbrady.org" target="_blank">@iamalexbrady</a> on social media!</p> -->
            </div>
            <div class="col col-md-4 offset-md-1 text-center">
                <img src="/assets/img/abo_iaab_combo.png" alt="two eyes alex brady symbol" class="mb-4 w-75">
                <a href="https://alexbrady.org" class="btn btn-block section-cta mb-2" target="_blank">alexbrady.org ⇗</a>
                <a href="https://iamalexbrady.com" class="btn btn-block section-cta secondary-btn" target="_blank">⇖ iamalexbrady.com</a>
            </div>
        </div>
    </div>
</div>

<div class="page-section" id="lovespresents" style="">
    <div class="container">
        <div class="row">
            <div class="col col-md-6 description-col mb-4">
                <h2 class="section-heading">LovesPresents.com</h2>
                <p class="text-large">Keep Love Around with the consumer products brand sure to keep a smile on your face.</p>
                <p class="">LovesPresents.com is an apparel and home decor e-commerce shop built on the Shopify platform. Check it out!</p>
            </div>
            <div class="col col-md-4 offset-md-1 text-center">
                <img src="/assets/img/two_loves_presents_icon_content.png" alt="two loves presents" class="mb-4 w-50">
                <br>
                <a href="https://lovespresents.com" class="btn btn-block section-cta" target="_blank">LovesPresents.com ⇗</a>
            </div>
        </div>
    </div>
</div>