  <div class="contact-modal modal fade" id="contact-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">X</button>
        <div class="container">
          <div class="row">
            <div class="col mx-auto">
              <div class="modal-body">
                <div class="header">
                  <h2 class="text-uppercase modal-heading">Reach out now</h2>

                  <p class="item-intro text-muted">Let us know how we can help move your business or project to the next level. After we receive your request, a team member will reach out via email to with the next steps for your solution.
                  </p>
                </div>

                <!-- Contact Form -->
                {% include contact_form.html %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>