---
permalink: /designs/business
layout: page_with_masthead
external_id: functional_designs
main_content_class: functional_designs
---
<!-- Assign Variables -->
{% assign functional_portfolio_page = site.pages | where: "external_id", "functional_portfolio" | first %}
{% assign category = site.data.designs | where: "external_id", "functional_designs" | first %}
{% assign services = category.services %}
{% assign header_title = category.header.title %}
{% comment %}
{% assign header_text = site.data.functional_designs.site_text.header.text %}
{% assign header_subtext = site.data.functional_designs.site_text.header.subtext %}
{% assign header_button = site.data.functional_designs.site_text.header.button %}
{% assign header_button_link = site.data.functional_designs.site_text.header.button_link %}
{% endcomment %}

<!-- Rendered content -->
{% include contact_modal.html %}

<div class="designs">
    {% include masthead.html
      title=header_title
      text=header_text
      subtext=header_subtext
      button_text=header_button
      button_link=header_button_link
    %}

    <main class="{{ page.main_content_class }}">
        <div class="page-section">
            <div class="container">
                <div class="row mb-4">
                    <h2 class="section-heading">
                        Business Design Services
                    </h2>

                    <div class="page-description">
                        {{ category.description }}
                    </div>

                    <div>
                      <a href="{{ functional_portfolio_page.permalink }}">See business design examples</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-section">
            <div class="container mb-4">
                <div class="mb-4 service-list">
                    {% include service_category_services.html services=services %}
                </div>

                <div class="row justify-content-center">
                    <a class="cta-btn btn btn-tertiary p-3 w-75" data-bs-toggle="modal" data-bs-target="#contact-modal" href="#">Contact us to get started today</a>
                </div>
            </div>
        </div>
    </main>
</div>