---
layout: page
---

<div class="page-section row">
  <div class="heading-row">
    <div class="page-heading">
      <h1>Tech Blog</h1>
      <h3 class="tagline">by Popular Demand</h3>
    </div>

    <img src="/assets/img/alexa_popdemtech.jpg" width="100px" class="alexa-img" />
  </div>
</div>

<h1>{{ page.title }}</h1>
{{ page.content }}

<div class="page-section row">
  <div class="sign-off" style="text-align:center;">
  	<a href="https://twitter.com/popdemtech" target="_blank">
	    <img src="/assets/img/alexa_popdemtech.jpg" width="100px" class="alexa-img" />
    	<p>Ping me on Twitter if you found this helpful!</p>
    	<h3 class="tagline">- @popdemtech</h3>
	</a>
  </div>
</div>

<div class="page-section row">
	<div class="text-center">
		<a href="/blog">< Back to Tech Blog</a>
	</div>
</div>

<style>
.heading-row {
  display:  flex;
  justify-content: center;
}

.page-heading {
  margin-right: 20px;
}

.tagline {
  font-size:  1rem;
}

.sign-off .alexa-img {
  margin-bottom: 20px;
}

.sign-off p {
	margin-bottom: 0;
}

/* for post content */

.spacer { height: 50px; }
.spacer-sm { height: 30px; }

h2, h3 { margin-bottom: 30px; }
</style>